plugins/sendcloud/schemas/rate_request.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sendcloud.com/ws/rate" xmlns="http://sendcloud.com/ws/rate" elementFormDefault="qualified">
    <xsd:element name="rate-request">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="shipper">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="address-line1" type="xsd:string" />
                            <xsd:element name="city" type="xsd:string" />
                            <xsd:element name="postal-code" type="xsd:string" />
                            <xsd:element name="country-code" type="xsd:string" />
                            <xsd:element name="state-code" type="xsd:string" minOccurs="0" />
                            <xsd:element name="person-name" type="xsd:string" minOccurs="0" />
                            <xsd:element name="company-name" type="xsd:string" minOccurs="0" />
                            <xsd:element name="phone-number" type="xsd:string" minOccurs="0" />
                            <xsd:element name="email" type="xsd:string" minOccurs="0" />
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="recipient">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="address-line1" type="xsd:string" />
                            <xsd:element name="city" type="xsd:string" />
                            <xsd:element name="postal-code" type="xsd:string" />
                            <xsd:element name="country-code" type="xsd:string" />
                            <xsd:element name="state-code" type="xsd:string" minOccurs="0" />
                            <xsd:element name="person-name" type="xsd:string" minOccurs="0" />
                            <xsd:element name="company-name" type="xsd:string" minOccurs="0" />
                            <xsd:element name="phone-number" type="xsd:string" minOccurs="0" />
                            <xsd:element name="email" type="xsd:string" minOccurs="0" />
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="packages">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="package" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="weight" type="xsd:decimal" />
                                        <xsd:element name="weight-unit" type="xsd:string" />
                                        <xsd:element name="length" type="xsd:decimal" minOccurs="0" />
                                        <xsd:element name="width" type="xsd:decimal" minOccurs="0" />
                                        <xsd:element name="height" type="xsd:decimal" minOccurs="0" />
                                        <xsd:element name="dimension-unit" type="xsd:string" minOccurs="0" />
                                        <xsd:element name="packaging-type" type="xsd:string" minOccurs="0" />
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="services" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="service" type="xsd:string" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="options" type="xsd:string" minOccurs="0" />
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>