plugins/sendcloud/schemas/rate_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sendcloud.com/ws/rate" xmlns="http://sendcloud.com/ws/rate" elementFormDefault="qualified">
    <xsd:element name="rate-response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="rate" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="service-code" type="xsd:string" />
                            <xsd:element name="service-name" type="xsd:string" minOccurs="0" />
                            <xsd:element name="total-charge" type="xsd:decimal" />
                            <xsd:element name="currency" type="xsd:string" minOccurs="0" />
                            <xsd:element name="transit-days" type="xsd:integer" minOccurs="0" />
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>