plugins/shipengine/schemas/error_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://shipengine.com/ws/error" xmlns="http://shipengine.com/ws/error" elementFormDefault="qualified">
    <xsd:element name="error-response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="error" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="code" type="xsd:string" />
                            <xsd:element name="message" type="xsd:string" />
                            <xsd:element name="details" type="xsd:string" minOccurs="0" />
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>