plugins/shipengine/schemas/shipment_cancel_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://shipengine.com/ws/shipment-cancel" xmlns="http://shipengine.com/ws/shipment-cancel" elementFormDefault="qualified">
    <xsd:element name="shipment-cancel-response">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="success" type="xsd:boolean" />
                <xsd:element name="message" type="xsd:string" minOccurs="0" />
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>