plugins/shipengine/schemas/shipment_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://shipengine.com/ws/shipment" xmlns="http://shipengine.com/ws/shipment" elementFormDefault="qualified">
    <xsd:element name="shipment-response">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="tracking-number" type="xsd:string" />
                <xsd:element name="shipment-identifier" type="xsd:string" />
                <xsd:element name="label-type" type="xsd:string" />
                <xsd:element name="label" type="xsd:base64Binary" />
                <xsd:element name="documents" minOccurs="0">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="invoice" type="xsd:base64Binary" minOccurs="0" />
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="meta" minOccurs="0">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element name="service-code" type="xsd:string" minOccurs="0" />
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>